<h1>Attendees</h1>

<p><a href="/new_attendee">Add a New Attendee</a></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @attendees.each do |attendee| %>
    <tr>
          <td><%= attendee.name %></td>
          <td><a href="/attendees/<%= attendee.id %>">Show</a>
        </td>
      <td><a href="/attendees/<%= attendee.id %>/edit">Edit</a></td>
      <td><a href="/attendees/<%= attendee.id %>/destroy">Destroy</a></td>
    </tr>
  <% end %>
  </tbody>
</table>

