<h1>Attendees</h1>

<p><a href="/new_attendee">Add a New Attendee</a></p>

  <% @attendees.each do |attendee| %>
          <h3><%= attendee.name %></h3>
         <a href="/attendees/<%= attendee.id %>">Show</a> | 
        
      <a href="/attendees/<%= attendee.id %>/edit">Edit</a> | 
      <a href="/attendees/<%= attendee.id %>/destroy">Destroy</a>
  <% end %>


