<h1>New Attendee Venue</h1>

<form action="/create_attendee_venue">
  <div>
    <label for="attendee_id">attendee_id</label><br />
    <input id="attendee_id" name="attendee_id" type="text" />
  </div>
  <div>
    <label for="venue_id">venue_id</label><br />
    <input id="venue_id" name="venue_id" type="text" />
  </div>
  <div>
    <label for="date">date</label><br />
    <input id="date" name="date" type="text" />
  </div>
  <div>
    <label for="time">time</label><br />
    <input id="time" name="time" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

