<h1>New Venue</h1>

<form action="/create_venue">
  <div>
    <label for="country">country</label><br />
    <input id="country" name="country" type="text" />
  </div>
  <div>
    <label for="city">city</label><br />
    <input id="city" name="city" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

