<h1>New Band</h1>

<form action="/create_band">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="genre">genre</label><br />
    <input id="genre" name="genre" type="text" />
  </div>
  <div>
    <label for="nom">nom</label><br />
    <input id="nom" name="nom" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

