<h1>New Band Venue</h1>

<form action="/create_band_venue">
  <div>
    <label for="band_id">band_id</label><br />
    <input id="band_id" name="band_id" type="text" />
  </div>
  <div>
    <label for="venue_id">venue_id</label><br />
    <input id="venue_id" name="venue_id" type="text" />
  </div>
  <div>
    <label for="date">date</label><br />
    <input id="date" name="date" type="text" />
  </div>
  <div>
    <label for="time">time</label><br />
    <input id="time" name="time" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

