<h1>New Member</h1>

<form action="/create_member">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="age">age</label><br />
    <input id="age" name="age" type="text" />
  </div>
  <div>
    <label for="picture">picture</label><br />
    <input id="picture" name="picture" type="text" />
  </div>
  <div>
        <select name="band_id" id="band_id">
          <% Band.all.each do |band| %>
          <option value="<%= band.id%>"><%= band.name%> </option>
          <% end %>
        </select>
    
  </div>
  <div>
    <input type="submit">
  </div>
</form>

